 <div class="col-md-10 mx-auto ">
      <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/catalogo">
    <img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="50" height="50" class="d-inline-block align-top" alt="">
    E-commerce
  </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/catalogo">catalogo</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/carrito"><img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/agregarProducto">Agregar Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/history">Historial</a>
        </li>
    </ul>
</nav>
  </div>
 <br>
<br>