 <div class="col-md-10 mx-auto ">
      <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="50" height="50" class="d-inline-block align-top" alt="">
    E-commerce
  </a>
    <ul class="nav justify-content-end">
        
        <li class="nav-item">
            <a class="nav-link" href="/registrarse">Registrarse</a>
        </li>
        
    </ul>
</nav>
  </div>
 <br>
<br>
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Ingresar
        </h1>
      </div>
       
      <div class="card-body">
        <form action="/" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block">
            Ingresar 
          </button>
        </form>
      </div>
    </div>
  </div>